extends ../layouts/default

block content
	.container-fluid
		.row.posizione
			.col-sm-12.nopadding
				.imghome
		.row
			.col-sm-12
				.testohome
					|ciao! benvenuto nel mio sito! 
					br
					|qui trovi alcuni miei lavori, spero ti piacciano!