extends ../layouts/default

block content
	.container-fluid
		.row.margintopvideo
			.col-sm-6.nopadding
				.titolovideo
					|bucoski #intro
				.col-sm-12.marginesottovideo
					iframe(width='100%', height='480', src='//www.youtube.com/embed/Pjbrqwf5TjM?list=UUJJyYxRgnQbzhVUrMfJatng', frameborder='0', allowfullscreen='allowfullscreen', class="iframe")

			.col-sm-6.nopadding
				.titolovideo
					|bucoski #la solitudine
				.col-sm-12.marginesottovideo
					iframe(width='100%', height='480', src='//www.youtube.com/embed/bzIyo-n6RxI?list=UUJJyYxRgnQbzhVUrMfJatng', frameborder='0', allowfullscreen='allowfullscreen', class="iframe")

			.col-sm-6.nopadding
				.titolovideo
					|bucoski #l'amore
				.col-sm-12.marginesottovideo
					iframe(width='100%', height='480', src='//www.youtube.com/embed/ijQaCaGg0Yc?list=UUJJyYxRgnQbzhVUrMfJatng', frameborder='0', allowfullscreen='allowfullscreen', class="iframe")

			.col-sm-6.nopadding
				.titolovideo
					|bucoski #il vizio (bere)
				.col-sm-12.marginesottovideo
					iframe(width='100%', height='480', src='//www.youtube.com/embed/Lb6Bxl0RWKc?list=UUJJyYxRgnQbzhVUrMfJatng', frameborder='0', allowfullscreen='allowfullscreen', class="iframe")

			.col-sm-6.nopadding
				.titolovideo
					|bucoski #la bellezza
				.col-sm-12.marginesottovideo
					iframe(width='100%', height='480', src='//www.youtube.com/embed/Mp4ud9Or6Qc?list=UUJJyYxRgnQbzhVUrMfJatng', frameborder='0', allowfullscreen='allowfullscreen', class="iframe")

			.col-sm-6.nopadding
				.titolovideo
					|bucoski #la felicità
				.col-sm-12.marginesottovideo
					iframe(width='100%', height='480', src='//www.youtube.com/embed/9SeNQsrrlBw?list=UUJJyYxRgnQbzhVUrMfJatng', frameborder='0', allowfullscreen='allowfullscreen', class="iframe")

			.col-sm-6.nopadding
				.titolovideo
					|eutropia festival
				.col-sm-12.marginesottovideo
					iframe(width='100%', height='480', src='//www.youtube.com/embed/ZHZCJ-9s6lQ', frameborder='0', allowfullscreen='allowfullscreen', class="iframe")

			.col-sm-6.nopadding
				.titolovideo
					|#votadottori
				.col-sm-12.marginesottovideo
					iframe(width='100%', height='480', src='//www.youtube.com/embed/NMm9i05Mxw4', frameborder='0', allowfullscreen='allowfullscreen', class="iframe")

			.col-sm-6.nopadding
				.titolovideo
					|la donnina conturbante
				.col-sm-12.marginesottovideo
					iframe(width='100%', height='480', src='//www.youtube.com/embed/wad7SDfktH4', frameborder='0', allowfullscreen='allowfullscreen', class="iframe")

			.col-sm-6.nopadding
				.titolovideo
					|per quello che sono
				.col-sm-12.marginesottovideo
					iframe(width='100%', height='480', src='//www.youtube.com/embed/Z3WRc8EzTvE', frameborder='0', allowfullscreen='allowfullscreen', class="iframe")

			.col-sm-6.nopadding
				.titolovideo
					|mio bel fior
				.col-sm-12.marginesottovideo
					iframe(width='100%', height='480', src='//www.youtube.com/embed/VkVK-06hKZM', frameborder='0', allowfullscreen='allowfullscreen', class="iframe")

